<div class="mt-4">
	<form method="GET" action="/news">
		<div class="form-group">
			<label for="searchInput">Từ khoá</label>
			<input
				type="text"
				class="form-control"
				id="searchInput"
				placeholder="Nhập từ khoá"
				name="q"
			/>
		</div>
		<button type="submit" class="btn btn-primary">Tìm kiếm</button>
	</form>
</div>